.navbar {
  height: 70px;

  .logo {
    font-size: 48px;
    font-family: Geomanist-Bold;
    color: #16324f;
    float: left;
    text-align: center;
    padding: 25px 15px;
  }

  .navbar-right {
    a {
      color: #16324f;
      font-family: Geomanist;
      font-size: 20px;
      text-decoration: underline;
      float: right;
      text-align: center;
      padding: 25px 10px;
    }
  }
}

main {
  height: calc(100vh - 60px);
}

.filter-bar {
  padding: 20px;
}

.about {
  background-color: #ebf2fa;
  color: #16324f;
  height: 60px;
  font-size: 30px;
  padding: 25px;
  text-align: center;
  font-family: Geomanist-Bold;
  border-radius: 15px;
}

.ui.basic.label {
  font-family: Geomanist;
  color: #16324f;
  border: 1px solid #16324f;
}
