.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  background-color: white;
  padding: 15px 0px;

  .icon {
    padding: 0px 5px;
  }

  .logo {
    font-size: 48px;
    font-family: Geomanist-Bold;
    color: #16324f;
    text-align: center;

    .logo-img {
      padding-left: 15px;
      padding-right: 10px;
    }
  }

  .navbar-right {
    a {
      color: #16324f;
      font-family: Geomanist;
      font-size: 20px;
      text-decoration: underline;
      padding-right: 15px;
    }
  }
}

main {
  height: calc(100%vh - 66px);
  // background-color: #ebf2fa;
}

.filter-bar {
  padding: 20px;
}

.ui.basic.label {
  font-family: Geomanist;
  color: #16324f;
  border: 1px solid #16324f;
}

.ui.button {
  background-color: #16324f;
  color: white;
}

.ui.button:hover {
  background-color: #ffd400;
  cursor: pointer;
}

.ui.items > .item .meta {
  font-size: 15px;
}

.error {
  color: #c0392b;
}
