.inner-width {
  margin: auto;
  padding: 0 40px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  padding: 20px 0px;
  transition: 0.3s linear;

  .inner-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .icon {
    padding: 0px 5px;
  }

  .logo {
    font-size: 48px;
    font-family: Geomanist-Bold;
    color: #16324f;
    text-align: center;

    .logo-img {
      padding-left: 15px;
      padding-right: 10px;
    }
  }

  .menu-toggler {
    background: none;
    width: 40px;
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
    z-index: 999;
    display: none;
  }

  .menu-toggler span {
    display: block;
    height: 3px;
    background-color: #16324f;
    margin: 6px 0;
    position: relative;
    transition: 0.3s linear;
  }

  .navbar-menu {
    a {
      color: #16324f;
      font-family: Geomanist;
      font-size: 20px;
      text-decoration: underline;
      padding-right: 13px;
      transition: 0.2s linear;
    }

    a:hover {
      color: #ffd400 !important;
    }
  }
}

.sticky {
  background-color: #f1f1f1;
  transition: 0.3s linear;
  padding: 15px 0;
}

main {
  height: calc(100%vh - 66px);
}

.filter-bar {
  padding: 20px;
}

.ui.basic.label {
  font-family: Geomanist;
  color: #16324f;
  border: 1px solid #16324f;
}

.ui.button {
  background-color: #16324f;
  color: white;
}

.ui.button:hover {
  background-color: #ffd400;
  cursor: pointer;
}

.ui.items > .item .meta {
  font-size: 15px;
}

.error-msg {
  color: #c0392b;
}

@media only screen and (max-width: 900px) {
  .navbar {
    .menu-toggler {
      display: block;
    }

    .navbar-menu {
      position: fixed;
      height: 100vh;
      width: 100%;
      background-color: #16324f;
      top: 0;
      right: -100%;
      max-width: 250px;
      padding: 80px 50px;
      transition: 0.3s linear;

      a {
        display: block;
        font-size: 23px;
        color: #f1f1f1;
        margin: 35px auto;
        text-decoration: none;
        text-align: left;
      }
    }

    .navbar-menu.active {
      right: 0;
    }

    .menu-toggler.active {
      span {
        background-color: #f1f1f1;
      }
    }

    .menu-toggler.active span:nth-child(1) {
      transform: rotate(-45deg);
      top: 4px;
    }

    .menu-toggler.active span:nth-child(2) {
      opacity: 0;
    }

    .menu-toggler.active span:nth-child(3) {
      transform: rotate(45deg);
      bottom: 14px;
    }
  }
}
