.articles-wrapper {
  display: grid;
  // grid-template-columns: [line1] 300px [line2] 0.75fr [line3] 40px [line4] 2.25fr [line5] 300px;
  grid-template-columns: 1fr 1fr 2fr;
  column-gap: 20px;
  margin: 0px 18%;
  grid-template-rows: 1fr auto;

  .phrase {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    margin-top: 20px;
    height: 100vh;
    background-color: #ebf2fa;
    border: 1px solid #ebf2fa;
    border-radius: 10px;

    h1 {
      font-size: 48px;
      font-family: Geomanist-Bold;
      align-self: center;
    }
  }

  .articles-list {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;

    .article-card {
      border-bottom: solid 1px #ebf2fa;
      border-radius: 25px;
      box-shadow: 2px 2px 5px #4e545c;
      padding: 15px;
      margin-top: 20px;

      .image {
        display: flex;
        justify-content: center;

        img {
          justify-self: center;
          width: 80%;
          height: 80%;
          padding: 10px;
        }
      }

      .article-content {
        font-size: 20px;
        color: #16324f;
        width: 80%;
        height: 80%;
        margin: auto;

        a {
          color: #16324f;
        }

        a:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
