.articles-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  column-gap: 20px;
  margin: 0px 13%;
  grid-template-rows: 1fr auto;

  .phrase {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    margin-top: 20px;
    height: 200px;
    padding: 30px;
    text-align: center;

    h1 {
      font-size: 40px;
      font-family: Geomanist-Medium;
      align-self: center;
      color: #16324f;
    }
  }

  .articles-list {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;

    .article-card {
      border: solid 1px #ebf2fa;
      border-radius: 25px;
      box-shadow: 2px 2px 5px #4e545c;
      padding: 15px;
      margin: 20px 5px;

      .image {
        display: flex;
        justify-content: center;

        img {
          justify-self: center;
          width: 80%;
          height: 80%;
          padding: 10px 0px;
        }
      }

      .article-content {
        font-size: 20px;
        color: #16324f;
        width: 80%;
        height: 80%;
        margin: auto;

        a {
          color: #16324f;
        }

        a:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
