.articles-wrapper {
  display: grid;
  grid-template-columns: [line1] 300px [line2] 0.75fr [line3] 40px [line4] 2.25fr [line5] 300px;
  grid-template-rows: [row1-start] 20px [row1-end] 1fr [row2] auto;

  .phrase {
    grid-column-start: line2;
    grid-column-end: line3;
    grid-row-start: row1-end;

    height: 100vh;
    background-color: #ebf2fa;
    border: 1px solid #ebf2fa;
    border-radius: 10px;

    h1 {
      font-size: 48px;
      font-family: Geomanist-Bold;
    }
  }

  .articles-list {
    grid-column-start: line4;
    grid-column-end: line5;
    grid-row-start: row1-end;

    .article-card {
      border-bottom: 1px solid #16324f;
      border-radius: 10px;
      box-shadow: 3px 3px 5px #4e545c;
      padding: 15px;

      .image {
        // display: flex;
        // justify-content: center;

        img {
          justify-self: center;
          width: 80%;
          height: 80%;
          padding: 10px;
        }
      }

      .article-content {
        font-size: 20px;
        color: #16324f;
        width: 80%;
        height: 80%;

        a {
          color: #16324f;
        }

        a:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
