@font-face {
  font-family: "Geomanist";
  src: local("Geomanist"),
    url(../fonts/Geomanist-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Geomanist-Medium";
  src: local("Geomanist-Medium"),
    url(../fonts/Geomanist-Medium.otf) format("opentype");
}

@font-face {
  font-family: "Geomanist-Bold";
  src: local("Geomanist-Bold"),
    url(../fonts/Geomanist-Bold.otf) format("opentype");
}

body {
  margin: 0;
  font-family: Geomanist;
}

.ui.button,
.ui.buttons .button,
.ui.buttons .or {
  font-family: Geomanist-Medium;
  font-size: 18px;
  border-radius: 8px;
}
