.my-post {
  border: solid 1px #b2bec3;
  border-radius: 20px;
  box-shadow: 5px 5px #747d8c;
  margin: 40px;
  padding: 15px;
}

.options-button {
  float: right;
}

.my-posts-list {
  position: absolute;
  left: 200px;
  right: 200px;
}

.ui.primary.button {
  background-color: #d63031;
}

.ui.primary.button:hover {
  background-color: #d63031;
}
