.my-posts-list {
  margin: 20px 20%;
}

.my-post {
  border: solid 1px #b2bec3;
  border-radius: 20px;
  box-shadow: 3px 3px 5px #4e545c;
  margin-bottom: 20px;
  padding: 30px;

  .ui.items > .item > .content > .header:not(.ui) {
    font-size: 20px;
  }

  .ui.items > .item > .content > .description {
    font-size: 20px;
  }

  i.icon,
  i.icons {
    font-size: 20px;
  }

  a {
    text-decoration: underline;
  }
}

.options-button {
  float: right;
}

.ui.primary.button {
  background-color: #d63031;
}

.ui.primary.button:hover {
  background-color: #d63031;
}
