.post {
  border-bottom: solid 1px #ebf2fa;
  border-radius: 25px;
  box-shadow: 2px 2px 5px #4e545c;
  padding: 30px;
  margin-bottom: 20px;
  width: 730px;

  .ui.items > .item > .content > .header:not(.ui) {
    font-size: 18px;
    font-family: Geomanist-Medium;
  }

  .ui.items > .item > .content > .description {
    font-size: 20px;
    width: 95%;
  }

  .ui.items > .item .content img {
    padding: 10px 0px;
    width: 95%;
  }

  .ui.items > .item > .image > img {
    border-radius: 50%;
  }

  a {
    text-decoration: underline;
  }
}

.label {
  padding-right: 15px;
}

.vote-btn-container {
  display: inline-flex;
  font-size: 15px;
  padding: 10px 0px;

  p {
    padding: 0px 10px;
  }
}

button,
input,
optgroup,
select,
textarea {
  background: none;
  border: none;
  font-size: 20px;
  color: #16324f;
}

button:hover,
optgroup,
select,
textarea {
  color: #ffd400;
}

button:disabled,
optgroup,
select,
textarea {
  color: #cccccc;
}
