.post {
  border: solid 1px #b2bec3;
  border-radius: 25px;
  box-shadow: 3px 3px 5px #4e545c;
  padding: 30px;
  margin-bottom: 20px;

  .ui.items > .item > .content > .header:not(.ui) {
    font-size: 20px;
  }

  .ui.items > .item > .content > .description {
    font-size: 20px;
  }

  a {
    text-decoration: underline;
  }
}

.label {
  padding-right: 15px;
}

.upvote-btn-container {
  display: inline-flex;
  // float: right;
  padding: 10px;

  p {
    padding-left: 4px;
  }
}

.downvote-btn-container {
  display: inline-flex;
  // float: right;
  padding: 10px;

  p {
    padding-left: 4px;
  }
}
