.container {
  display: grid;
  grid-template-columns: [first] 70% [line2] 20px [line3] 30%;
  grid-template-rows: [row1-start] 20px [row1-end] 1fr [third-line] auto;
  font-family: Geomanist;
  margin: 0px 30px;

  .posts-list {
    grid-column-start: first;
    grid-row-start: row1-end;
  }

  .tags-container {
    background-color: #ebf2fa;
    padding: 20px;
    height: 100vh;
    border: solid 1px #ebf2fa;
    border-radius: 15px;
    grid-column-start: line3;
    grid-row-start: row1-end;
  }
}
