.container {
  display: grid;
  grid-template-columns: 2fr 0.8fr;
  grid-template-rows: [row1-start] 20px [row1-end] 1fr [third-line] auto;
  font-family: Geomanist;
  column-gap: 20px;
  margin: 0px 18%;

  .posts-list {
    grid-column-start: 1;
    grid-row-start: row1-end;

    .new-post {
      height: 150px;
      border-bottom: solid 1px #ebf2fa;
      border-radius: 25px;
      box-shadow: 2px 2px 5px #4e545c;
      padding: 30px;

      input {
        width: 100%;
        height: 60%;
        color: #16324f;
        font-size: 20px;
        border: none;
      }

      .submit-post {
        float: right;
        width: 200px;
        font-size: 20px;
        font-family: Geomanist-Medium;
      }
    }
  }

  .tags-container {
    background-color: #ebf2fa;
    padding: 20px;
    height: 100%;
    border: solid 1px #ebf2fa;
    border-radius: 15px;
    grid-column-start: 2;
    grid-row-start: row1-end;

    .ui.basic.label {
      display: block;
    }
  }

  .ui.basic.label:hover {
    color: #ffd400;
    border: 1px solid #ffd400;
  }
}
